@mixin flex($hor, $ver, $dir) {
    display: flex;
    justify-content: $hor;
    align-items: $ver;
    flex-direction: $dir;
}

@mixin buttonD ($color, $corners, $hover, $tColor, $tSize, $tWeight, $height, $width, $border) {
    background-color: $color;
    border-radius: $corners;
    color: $tColor;
    font-size: $tSize;
    font-weight: $tWeight;
    height: $height;
    width: $width;
    border: $border;

    &:hover{

        background-color: $hover;

    }
}

//programable animations

@mixin AnimateShow ($tx, $ty, $time){
    
animation: ShowIn $time ease-in;

@keyframes ShowIn {
    
    from{

        opacity: 0;
        transform: translate($tx, $ty);

    }

    to{

        opacity: 1;
        transform: translate(0, 0);

    }

}

}