@import './components/colors';
@import './components/variables';
@import '../Assets/fonts/Gilroy/gilroyFont';

html{

    margin: 0;
    padding: 0;
    height: 100vh;
    scroll-behavior: smooth;

}

body{

    font-family: 'Gilroy';
    color: $superGrey;
    margin: 0;
    padding: 0;

}

.Navbar{

    width: 100vw;
    height: 10vh;
    @include flex(space-between, center, row);
    position: absolute;
    z-index: 3;

    .logo{

        width: 10vw;
        height: 70%;
        margin-left: 5vw;
        margin-right: 0;

        img{

            height: 100%;
            object-fit: contain;

        }

    }

    .menu{

        margin-right: 5vw;

        ul{

            li{

                display: inline;
                margin: 0px 20px;
                padding: 5px 10px;

                a{

                    color: white;
                    text-decoration: none;

                }

                &:active{

                    border-width: 0;
                    border-bottom-width: 2px;
                    border-color: $mainPurple;
                    border-style: solid;

                }

                &:hover{

                    border-width: 0;
                    border-bottom-width: 2px;
                    border-color: $mainPurple;
                    border-style: solid;

                }

            }

            .btn{

                border: solid white 1px;
                border-radius: 5px;
                padding: 10px 20px;

                &:hover{

                    border-width: 2px;
                    border-color: $mainPurple;

                }

            }

        }

    }

    .menuButton{

        height: 70%;
        max-height: 80px;
        background:rgba(124, 124, 124, 0.6);
        margin-right: 3vw;
        border-radius: 50%;
        transition: all 0.2s ease-in-out;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        display: none;

        span{

            width: 30%;
            height: 0px;
            border: 1px solid white;
            transition: all 0.2s linear;
            margin: 2px;

        }

        &:hover{

            background:rgba(124, 124, 124, 1);

            span{

                width: 50%;

            }

        }
        
    }


}

.Header{

    background-color: $superGrey;
    height: 100vh;
    margin: 0;
    @include flex(left, center, row);

    .mainTitle{

        width:60%;
        margin-left: 10%;
        z-index: 1;

        h1{

            font-size: 130px;
            color: white;
            font-weight: bold;

            span{

                color: $yellow;

            }

        }


    }

    img{

        width: 50%;
        object-fit: contain;
        position: absolute;
        right: 5%;
    }


}

.News{

    width: 100vw;
    height: 30vh;
    margin-top: -15vh;
    display: flex;
    flex-direction: row;

    .Main{

        background: white;
        height: 100%;
        width: 60vw;
        @include flex(flex-end, center, row);


        .nInfo{

            width: 65%;
            height: 100%;

            .info{

                @include flex(center, center, column);
                height: 75%;

                p{

                    color: $grey;
                    font-size: 20px;
                    font-weight: 300;
                    text-align: justify;
                    margin: 0px 10%;
                    max-width: 480px;

                }

            }

            .more{

                @include flex(center, center, row);
                height: 25%;

                h6{

                    font-size: 30px;
                    font-weight: bold;
                    color: $superGrey;

                }

                img{

                    height: 11px;
                    object-fit: contain;
                    margin: 10px;
                    cursor: pointer;
                    transition: all 0.3s ease-in-out;

                    &:hover{

                        transform: translateX(20px)

                    }

                }

            }

        }
        
        img{
    
            height: 100%;
            object-fit: contain;

        }

    }

    .next{

        width: 35vw;
        @include flex(center, flex-start, column);

        .nextInfo{

            height: 15vh;
            @include flex(flex-end, flex-start, column);
            color: white;
            margin-left: 10%;

            p{

                font-size: 17px;
                margin: 0;

            }

            h6{

                font-size:30px;
                margin: 25px 0px;

            }

        }

        .nextControls{

            height: 15vh;
            @include flex(flex-start, center, row);
            margin-left: 10%;

            .prevArt{

                height: 11px;
                object-fit: contain;
                margin-right: 15px;
                cursor: pointer;transition: all 0.3s ease-in-out;

                &:hover{

                    transform: translateX(-10px)

                }

            }

            .nextArt{

                height: 11px;
                object-fit: contain;
                cursor: pointer;transition: all 0.3s ease-in-out;

                &:hover{

                    transform: translateX(20px)

                }
                
            }
            
        }

    }

}

.Experience{

    margin: 25vh 0 10vh 0;

    .Titles{

        height: 20vh;
        width: 100vw;
        @include flex(space-evenly, center, row);

        h2{

            font-size: 114px;
            font-weight: bold;
            line-height: 120px;
            margin: 0;

        }

        p{

            font-size: 24px;
            font-weight: 600;
            line-height: 30px;
            margin: 0;
            text-align: justify;
            width:40vw;
            max-width: 730px;

        }

    }

    .Cards{

        height: 100vh;
        width: 100vw;
        @include flex(flex-start,center, row);
        overflow: hidden;

        .guide{

            position: absolute;
            height: 40vh;
            width: 100vw;
            background-color: $mainPurple;

        }

        .rail{

            height: 90vh;
            width: 100vw;
            overflow-x: scroll;

            .wrapper{

                list-style: none;
                display: inline-flex;
                height: 100%;
                padding: 0;
                margin: 0;
                align-items: center;

                li{

                    margin: 0 30px;

                }

                .card{

                    height: 90%;
                    width: 35vw;
                    @include flex(flex-start, start, column);
                    background: lightblue;
                    background-size: cover;
                    z-index: 1;
                    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
                    transform: translatey(0px);
                    animation: float 6s ease-in-out infinite;
                    transition: all 0.3s ease-in-out;

                    img{

                        height: 15%;
                        max-height: 100px;
                        object-fit: contain;
                        margin: 6% 0px 0px 6%;

                    }

                    h3{

                        font-size: 30px;
                        font-weight: bold;
                        margin: 6% 0px 0px 6%;

                    }

                    p{

                        font-size: 20px;
                        font-weight: 100;
                        text-align: justify;
                        color: $grey;
                        margin: 3% 10% 0px 6%;

                    }

                    button{

                        align-self: center;
                        position: absolute;
                        bottom: 6%;
                        @include buttonD($lightYellow, 0, $lightYellow, white, 23px, 600, 50px, 280px, none);
                    }

                    &:hover{


                        height: 99%;
                        width: 38vw;
                        animation: none;
                    }

                }
                .Alt{

                    background: lightcoral;
                    animation: float 6s ease-in-out 3s infinite;

                }

            }

        }

    }

}

.About{

    width: 100vw;
    @include flex(center, center, row);

    .images{

        height:120vh;
        width: 50vw;
        display: flex;
        position: relative;
        

        .colorSec{

            width: 35vw;
            height:110vh;
            background: $superGrey;
            align-self: flex-end;
            
        }

        img{

            height: 90vh;
            object-fit: cover;
            align-self: flex-end;
            justify-self: flex-end;
            position: absolute;
            right: 50px;
            box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
            transform: translatey(0px);
            animation: float2 6s ease-in-out infinite;

        }

    }
    
    .main{

        height: 120vh;
        width: 50vw;
        @include flex(space-evenly, flex-start, column);

        .title{

            font-size: 114px;
            font-weight: bold;
            margin: 0;

        }

        .subtitle{

            font-size: 30px;
            font-weight: bold;
            margin: 0;

        }

        .desc{

            font-size: 20px;
            font-weight: 100;
            text-align: justify;
            margin-right: 10vw;

        }

        .bottom{

            height: 40vh;
            width: 50vw;
            @include flex(flex-start, center, row);
            position: relative;
            
            .team{

                width: 25vw;
                @include flex(center, flex-start, column);

                .name{

                    font-size: 20px;
                    font-weight: 600;
                    margin: 0;

                }

                .pos{

                    font-size: 20px;
                    font-weight: 100;
                    margin: 0;
                    margin-bottom: 10px

                }

                .more{

                    margin-top: 20px;
                    @include flex(center, center, row);
    
                    h6{
    
                        font-size: 30px;
                        font-weight: bold;
                        color: $superGrey;
                        margin: 0;
    
                    }
    
                    img{
    
                        height: 11px;
                        object-fit: contain;
                        margin: 10px;
                        cursor: pointer;
                        transition: all 0.3s ease-in-out;
    
                        &:hover{
    
                            transform: translateX(20px)
    
                        }
    
                    }
    
                }

            }

            .overFI{

                position: absolute;
                object-fit: none;
                height: 120vh;
                width:25vw;
                top:0;
                right: 0;
                z-index: 2;
                box-shadow: 0 5px 15px 15px rgba(0,0,0,0.6);
                transform: translatey(0px);
                animation: float2 6s ease-in-out infinite;

            }

        }

    }

}

.Contact{

    height: 100vh;
    width: 100vw;
    @include flex(center, flex-end, row);

    .main{

        height: 100vh;
        width: 60vw;
        @include flex(space-evenly, center, column);

        h2{

            width: 30vw;
            font-size: 114px;
            font-weight: bold;
            line-height: 120px;
            margin: 0;

        }

        .contForm{

            width: 30vw;
            display: flex;
            flex-direction: column;
            max-width: 600px;

            input{

                height: 50px;
                width: 100%;
                border:none;
                border-bottom: 1px solid $grey;
                color: $grey;
                font-size: 20px;
                padding-left: 10px;
                font-weight: 500;
                margin-bottom: 0.7em;

            }

            p{

                color: $grey;
                font-size: 20px;
                font-weight: 500;
                margin-left: 10px;

            }

            #message{

                height: 15vh;
                border: 1px solid $grey;
                padding: 5px;

            }

            .more{

                margin-top: 20px;
                align-self: flex-start;
                @include flex(center, center, row);

                h6{

                    font-size: 30px;
                    font-weight: bold;
                    color: $superGrey;
                    margin: 0;

                }

                img{

                    height: 10px;
                    object-fit: contain;
                    margin: 10px;
                    cursor: pointer;
                    transition: all 0.3s ease-in-out;

                    &:hover{

                        transform: translateX(20px)

                    }

                }

            }

        }

    }

    .colorSec{

        width:40vw;
        height: 45vh;
        background: $mainPurple;
        margin-bottom: 10vh;


    }

}

.Bottom{

    height: 45vh;
    width: 100vw;
    position: relative;

    .colorSec{

    height: 100%;
    width: 45vw;
    position: absolute;
    left: 0;
    background: $superGrey;

    }

    img{

        height: 80%;
        width:80vw;
        object-fit: cover;
        position: absolute;
        right: 0;
        bottom: 0;

    }

}

footer{

    height: 30vh;
    width: 100vw;
    @include flex(flex-end, center, column);

    .colorSec{

        height: 26%;
        width: 100vw;
        background: $mainPurple;

    }

}

//animation Classes

.mainHidden{ opacity: 0;}

.topHidden{transform: translateY(-10px)}

.Appear{animation: show 2s ease-in-out;}

//main Appear

.mainAppear{animation: mainAppear 4s ease-in-out;}

// Appear from the left

.leftAppear{animation: leftAppear 2s ease-in-out;}

// come down from top

.topAppear{animation: topAppear 1s ease-in-out;}

//Responsiveness

@media only screen and (max-width: 1500px){

.Header{

    .mainTitle{

        h1{

            font-size: 100px;

        }

    }

}

.News{

    .Main{

        .nInfo{

            .info{

                p{
    
                    font-size: 16px;
    
                }
    
            }

            .more{

                h6{

                    font-size: 25px;

                }

            }

        }

    }

    .next{

        .nextInfo{

                p{

                    font-size: 15px;


                }

                h6{

                    font-size: 25px;
                    margin: 20px 0px;

                }

        }

    }

}

.Experience{

    .Titles{

        h2{

            font-size: 90px;
            font-weight: bold;
            line-height: 95px;
            margin: 0;

        }

        p{

            font-size: 17px;
            font-weight: 600;
            line-height: 20px;
            margin: 0;
            text-align: justify;

        }

    }

    .Cards{

        .rail{

            .wrapper{

                .card{

                    h3{

                        font-size: 23px;

                    }

                    p{

                        font-size: 15px;

                    }

                    button{

                        font-size: 17px;
                        height: 35px;
                        width: 190px;

                    }

                }

            }

        }

    }

}

.About{

    .main{

        .title{

            font-size: 90px;

        }

        .subtitle{

            font-size: 23px;

        }

        .desc{

            font-size: 15px;

        }

        .bottom{

            .team{

                .name{

                    font-size:16px;

                }

                .pos{

                    font-size:16px;

                }

                .more{

                    h6{
    
                        font-size: 25px;
    
                    }
    
                }


            }

        }

    }

}

.Contact{

    .main{

        h2{

            font-size: 90px;

        }

        .contForm{

            input{

                font-size: 16px;

            }

            p{

                font-size: 16px;

            }

            .more{

                h6{

                    font-size: 25px;

                }

            }

        }

    }

}

}

@media only screen and (max-width: 600px){

.openNav{

    position: fixed;
    height: 100vh !important;
    width: 100vw;
    flex-direction: column-reverse;
    justify-content: center;

    .menu{

        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        width: 100vw !important;

        ul{

        display: flex !important;
        flex-direction: column !important;
        justify-content: space-evenly;
        align-items: center;
        height: 80vh;
        margin: 0;
        padding: 0;

        }

    }

    .menuButton{

        position: absolute;
        right: 3vw;
        top:1.5vh;

    }

}      

.Navbar{

    width: 100vw;
    height: 10vh;
    background-color: $superGrey;
    position: static;
    @include flex(flex-start, center, column);

    .logo{

        height: 6vh;
        margin-top: 2vh;
        align-self: flex-start;
        justify-self: flex-start;

    }

    .menu{

        height: 80vh;
        width: 100vw;
        margin: 0;
        display: none;

        ul{

            height: 100%;
            width: 100%;
            @include flex(space-evenly, center,column);
            margin: 0;
            padding: 0;

            li{

                margin: 0;
                padding: 0;

                a{

                    font-size: 1.6em;

                }

            }

        }

    }

    .menuButton{

        height: 7vh !important;
        width: 7vh !important;
        position: absolute;
        right: 3vw;
        top: 1.5vh;
        margin: 0;
        display: inherit;

        span{

            width: 30%;
            height: 0px;
            border: 2px solid white;
            transition: all 0.2s linear;
            margin: 2px;

        }

    }

}

.Header{

    @include flex(flex-end, center, column);
    height: 90vh;

    .mainTitle{

        margin: 0;
        width: 90%;

        h1{

            font-size: 3em;
            margin-bottom: 20%;

        }

    }

    img{

        height: 100vw;
        width: auto;
        right: auto;
        bottom: 20%;
        transform: rotate(-90deg);
        position: absolute;

    }

}

.News{

    height:100vh;
    margin: 0;
    flex-direction: column;

    .Main{

        width: 100vw;
        height: 80vh;
        @include flex(center, center, column-reverse);

        .nInfo{

            width:100%;
            height: 30vh;

            .info{

                height: 22vh;

                p{
    
                    font-size: 0.9em;
                    margin: 0 5%;
    
                }
    
            }

            .more{

                h6{

                    font-size: 1.8em;

                }

                img{

                    height: auto;
                    width: 40%;
                    

                }

            }

        }

        img{

            width: 100%;
            height: 40vh;
            object-fit: cover;

        }

    }

    .next{

        width: 100vw;
        align-items: center;

        .nextInfo{

            margin:0;
            height: 23vh;
            width: 100%;
            color: $superGrey;
            @include flex(space-evenly, center, column);

                p{

                    font-size: 15px;


                }

                h6{

                    font-size: 25px;
                    margin: 20px 0px;
                    width: 60%;

                }

        }

        .nextControls{

            height:7vh;
            margin: 0;

        }

    }

}

.Experience{

    height: auto;
    margin: 5vh 0;
    position: relative;

    .Titles{

        height: 20vh;
        @include flex(space-evenly, center, column);

        h2{

            font-size: 56px;
            line-height: 60px;
            margin: 0;

        }

        p{

            font-size: 0.9em;
            line-height: 1em;
            width: 80vw;

        }

    }

    .Cards{

        height: 80vh;

        .guide{

            bottom: 0vh;
            height: 20vh;

        }

        .rail{

            height: 80vh;

            .wrapper{

                li{

                    margin: 0;

                }

                .card{

                    width: 100vw;
                    height: 80%;

                    h3{

                        font-size: 23px;

                    }

                    p{

                        font-size: 15px;

                    }

                    button{

                        font-size: 17px;
                        height: 35px;
                        width: 190px;

                    }

                    &:hover{

                        height: 80%;
                        width: 100vw;
                        animation: none;
                    }

                }

            }

        }

    }

}

.About{

    flex-direction: column-reverse;

    .images{

        width: 100vw;
        height: 70vh;
        flex-direction: column-reverse;
        position: relative;

        .colorSec{

            width: 100vw;
            height: 20vh;

        }

        img{

            height: 60vh;
            width: 100vw;
            object-fit: cover;
            object-position: 50% 50%;
            position: absolute;
            bottom: 10vh;
            animation: none;
            right: 0;

        }

    }

    .main{

        width: 100vw;
        @include flex(space-evenly, center, column);

        .title{

            font-size: 55px;

        }

        .subtitle{

            font-size: 1.5em;

        }

        .desc{

            font-size: 0.9em;
            margin: 0 10vw;

        }

        .bottom{

            width: 100vw;

            .team{

                width: 100vw;
                @include flex(center, center, column);

                .name{

                    font-size:16px;

                }

                .pos{

                    font-size:16px;
                    margin-bottom: 15px;

                }

                .more{

                    height: 10vh;
                    width: 100vw;
                    margin: 0;

                    h6{
    
                        font-size: 1.6em;
    
                    }

                }


            }

            .overFI{

                display: none;

            }

        }

    }

}

.Contact{

    height: 80vh;

    .main{

        width: 100vw;
        height: 100%;

        h2{

            font-size: 55px;
            width: 60vw;

        }

        .contForm{

            width: 90vw;
            justify-content: center;
            align-content: center;

            input{

                font-size: 0.9em;
                width: 95%;

            }

            p{

                font-size: 0.9em;

            }

            .more{

                width: 90vw;

                h6{

                    font-size: 1.2em;

                }

            }

        }

    }

    .colorSec{

        display: none;

    }

}

.Bottom{

    width: 100vw;
    height: 70vh;
    flex-direction: column-reverse;
    position: relative;
    display: flex;

    .colorSec{

        width: 100vw;
        height: 20vh;

    }

    img{

        height: 60vh;
        width: 100vw;
        object-fit: cover;
        object-position: 50% 50%;
        position: absolute;
        bottom: 10vh;
        animation: none;
        right: 0;

    }
}

footer{

    height: 20vh;
    
    .colorSec{

        height: 10vh;

    }

}

}

//animations

//supportAnimation

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

@keyframes float2 {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 15px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-10px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
    }
}

@keyframes mainAppear{

    0%{opacity: 0; transform: scale(1.5, 1.5) translateX(-25%)}

    50%{opacity: 1; transform: scale(1.5, 1.5) translateX(-25%)}

    100%{opacity: 1; transform: scale(1.0, 1.0) translateX(0)}

}

@keyframes leftAppear{

    from{opacity: 0; transform: translateX(-100%)}

    to{opacity: 1; transform: translateX(0)}

}

@keyframes topAppear{

    0%{opacity: 0; transform: translateY(-100%)}

    100%{opacity: 1; transform: translateY(0)}

}

@keyframes show{

    from{opacity: 0;}

    to{opacity: 1;}

}

